fieldset {
    margin-bottom: 1.5em;
}

div[class^="item-container"] {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid $clr-text-main;
    border-radius: 5rem;
    margin: 0.5em 0;
    color: white;
    background-color: $clr-text-main;
    font-weight: bold;
    transition: 0.3s;

    .item-input {
        margin: 0 1rem;
    }

    .item-index {
        display: flex;
        align-items: center;
        color: $clr-text-main;
        text-align: center;
        height: 2rem;
        width: 2rem;
        padding: 0.5rem;
        background-color: white;
        border-radius: 50%;
        user-select: none;
    }
}

.item-container-ingredient {
    max-width: 35rem;
}
.item-container-instruction {
    max-width: 100%;
}
