.Recipe-full {
    main {
        background-color: white;
        padding: 1rem 3rem 3rem;

        div {
            margin-bottom: 4rem;
        }
    }

    h2 {
        font-family: "Oleo Script", cursive;
        text-align: center;
        margin: 1rem;
    }
}
